{% extends 'auctions/layout.html' %}

{% block body %}
  {% if listing.closed %}
    <div class="alert alert-info" role="alert">
      This listing is no longer available!
    </div>
  {% endif %}
  <h1>Listing: {{ listing.item }}</h1>
  <div class="m-2">
    <form action="{% url 'listing' listing.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="button" value="Watchlist" class="btn btn-secondary btn-sm">Watchlist</button>
    </form>
  </div>

  <div>
    <img src="{{ listing.image.url }}" alt="image" style="width: 300px; height: auto">
  </div>
  <div>
    <p>{{ listing.description }}</p>
    <h2>${{ listing.price }}</h2>
    <p>{{ message }}</p>
    <form action="{% url 'listing' listing.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="bid">{{ listing.bids.count }} bid(s) so far. Your bid is the current bid</label>
      </div>
      <div class="form-group">
        {{ form }}
      </div>
      <div class="form-group">
        <input type="submit" name="button" class="btn btn-primary" value="Place Bid">
      </div>
    </form>
  </div>
  <div>
    <h4>Details</h4>
    <ul>
      <li>Listed by: {{ listing.owner }}</li>
      <li>Category: {{ listing.category }}</li>
      {% if listing.closed %}
        <li><strong>Winner: </strong>{{ listing.bids.last.user.username }}</li>
      {% endif %}
    </ul>
    {% if user.username == listing.owner.username and not listing.closed %}
    <form action="{% url 'listing' listing.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" name="button" class="btn btn-danger" value="Close">Close</button>
    </form>
    {% endif %}
  </div>

  <div>
    <h4>Comments</h4>
    <a href="{% url 'comment' listing.id %}"><span class="badge badge-primary">Add a Comment!</span></a>

    {% for comment in listing.comments.all %}
      <div class="container m3-5 p-2 border">
        <p><strong>{{ comment.title }}</strong></p>
        <p class="mt-n2">{{ comment.comment }}</p>
        <p class="mt-n3"><small>{{ comment.time }}</small></p>
      </div>
    {% endfor %}
  </div>
{% endblock %}