{% extends 'auctions/layout.html' %}

{% block body %}
  <h1>{{ category }}</h1>

  {% if  listings.count == 0 %}
    <p>There are no listings in this category</p>
  {% endif %}
  
  {% for listing in listings %}
    <div class="container border p-2 m-2">
        <div class="row">
            <div class="col">
                <img src="{{ listing.image.url }}" alt="image" style="width: 300px; height: auto">
            </div>
            <div class="col text-left">
                <h2 class="display-4">{{ listing.item }}</h2>
                <h4>Price: ${{ listing.price }}</h4>
                <p><small>{{ listing.time }}</small></p>
                <a href="{% url 'listing' listing.id %}" type="submit" class="btn btn-primary">Go To Listing</a>
            </div>
        </div>
    </div>
  {% endfor %}
{% endblock %}